@import url('https://fonts.google.com/specimen/Sora?query=sora');
@import url('https://fonts.googleapis.com/css2?family=Sora&display=swap');
body {
    background-color: #FAFAF9;
    padding-top: 164px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Sora', sans-serif;
}

.container {
    height: 360px;
    width: 336px;
    padding: 16px 16px 16px 16px;
    background-color: #FFFFFF;
    border-radius: 15px;
    font-size: 18px;
    box-shadow: 5px 5px 20px rgba(17, 23, 41, 0.1);
}

.im {
    border-radius: 14px;
}

.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 20px;
    margin-top: 15px;
    border-radius: 40px;
    background-color: #E6D6FC;
    font-size: 10px;
    color: #883AE1;
}

.p1 {
    margin-block-end: 0.5em;
    padding-bottom: 0px;
}

.sen {
    color: #9ca2ae;
    font-size: 14px;
    padding-bottom: 20px;
    line-height: 1.5em;
}

hr {
    width: 100%;
    margin-top: 0em;
    background-color: rgb(236, 229, 229);
}

.last {
    padding-top: 10px;
    font-size: 11px;
    color: #6C727F;
    padding-bottom: 20px;
    font-weight: 900px;
}

@media screen and (max-width: 767px) {
    .container {
        width: 300px;
        height: auto;
        padding: .8rem;
    }
    .im {
        height: 180px;
    }
}